In [3]:
import pandas as pd
df=pd.read_csv("C:\\Users\\LENOVO\\Downloads\\dirtydata.csv")
df.shape

(32, 5)

In [4]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'    NaN       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112       NaN
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [5]:
final_df=df.dropna()

In [6]:
final_df.reset_index(inplace=True)

In [7]:
final_df

    index  Duration          Date  Pulse  Maxpulse  Calories
0       0        60  '2020/12/01'  110.0       130     409.1
1       1        60  '2020/12/02'  117.0       145     479.0
2       2        60  '2020/12/03'  103.0       135     340.0
3       3        45  '2020/12/04'  109.0       175     282.4
4       4        45  '2020/12/05'  117.0       148     406.0
5       5        60  '2020/12/06'  102.0       127     300.0
6       6        60  '2020/12/07'  110.0       136     374.0
7       7       450  '2020/12/08'  104.0       134     253.3
8       8        30  '2020/12/09'  109.0       133     195.1
9       9        60  '2020/12/10'   98.0       124     269.0
10     10        60  '2020/12/11'  103.0       147     329.3
11     11        60  '2020/12/12'  100.0       120     250.7
12     12        60  '2020/12/12'  100.0       120     250.7
13     14        60  '2020/12/14'  104.0       132     379.3
14     15        60  '2020/12/15'   98.0       123     275.0
15     16        60  '2020/12/16'   98.0       120     215.2
16     17        60  '2020/12/17'  100.0       120     300.0
17     19        60  '2020/12/19'  103.0       123     323.0
18     20        45  '2020/12/20'   97.0       125     243.0
19     21        60  '2020/12/21'  108.0       131     364.2
20     23        60  '2020/12/23'  130.0       101     300.0
21     24        45  '2020/12/24'  105.0       132     246.0
22     25        60  '2020/12/25'  102.0       126     334.5
23     26        60      20201226  100.0       120     250.0
24     27        60  '2020/12/27'   92.0       118     241.0
25     29        60  '2020/12/29'  100.0       132     280.0
26     30        60  '2020/12/30'  102.0       129     380.3
27     31        60  '2020/12/31'   92.0       115     243.0

In [8]:
final_df.columns

Index(['index', 'Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [9]:
final_df.drop('index',axis=1,inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11920\3992430533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('index',axis=1,inplace=True)

In [10]:
final_df[final_df['Duration']>50]

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/14'  104.0       132     379.3
14        60  '2020/12/15'   98.0       123     275.0
15        60  '2020/12/16'   98.0       120     215.2
16        60  '2020/12/17'  100.0       120     300.0
17        60  '2020/12/19'  103.0       123     323.0
19        60  '2020/12/21'  108.0       131     364.2
20        60  '2020/12/23'  130.0       101     300.0
22        60  '2020/12/25'  102.0       126     334.5
23        60      20201226  100.0       120     250.0
24        60  '2020/12/27'   92.0       118     241.0
25        60  '2020/12/29'  100.0       132     280.0
26        60  '2020/12/30'  102.0       129     380.3
27        60  '2020/12/31'   92.0       115     243.0

In [11]:
final_df.size

140

In [12]:
len(final_df.columns)

5

In [13]:
len(final_df)

28

In [14]:
final_df.drop('Date',axis=1,inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11920\1772221065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('Date',axis=1,inplace=True)

In [15]:
final_df

    Duration  Pulse  Maxpulse  Calories
0         60  110.0       130     409.1
1         60  117.0       145     479.0
2         60  103.0       135     340.0
3         45  109.0       175     282.4
4         45  117.0       148     406.0
5         60  102.0       127     300.0
6         60  110.0       136     374.0
7        450  104.0       134     253.3
8         30  109.0       133     195.1
9         60   98.0       124     269.0
10        60  103.0       147     329.3
11        60  100.0       120     250.7
12        60  100.0       120     250.7
13        60  104.0       132     379.3
14        60   98.0       123     275.0
15        60   98.0       120     215.2
16        60  100.0       120     300.0
17        60  103.0       123     323.0
18        45   97.0       125     243.0
19        60  108.0       131     364.2
20        60  130.0       101     300.0
21        45  105.0       132     246.0
22        60  102.0       126     334.5
23        60  100.0       120     250.0
24        60   92.0       118     241.0
25        60  100.0       132     280.0
26        60  102.0       129     380.3
27        60   92.0       115     243.0

In [16]:
a=final_df.columns
a

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [17]:
arr1=final_df.to_numpy()

In [18]:
arr1

array([[ 60. , 110. , 130. , 409.1],
       [ 60. , 117. , 145. , 479. ],
       [ 60. , 103. , 135. , 340. ],
       [ 45. , 109. , 175. , 282.4],
       [ 45. , 117. , 148. , 406. ],
       [ 60. , 102. , 127. , 300. ],
       [ 60. , 110. , 136. , 374. ],
       [450. , 104. , 134. , 253.3],
       [ 30. , 109. , 133. , 195.1],
       [ 60. ,  98. , 124. , 269. ],
       [ 60. , 103. , 147. , 329.3],
       [ 60. , 100. , 120. , 250.7],
       [ 60. , 100. , 120. , 250.7],
       [ 60. , 104. , 132. , 379.3],
       [ 60. ,  98. , 123. , 275. ],
       [ 60. ,  98. , 120. , 215.2],
       [ 60. , 100. , 120. , 300. ],
       [ 60. , 103. , 123. , 323. ],
       [ 45. ,  97. , 125. , 243. ],
       [ 60. , 108. , 131. , 364.2],
       [ 60. , 130. , 101. , 300. ],
       [ 45. , 105. , 132. , 246. ],
       [ 60. , 102. , 126. , 334.5],
       [ 60. , 100. , 120. , 250. ],
       [ 60. ,  92. , 118. , 241. ],
       [ 60. , 100. , 132. , 280. ],
       [ 60. , 102. , 129. , 380.3],
       [ 60. ,  92. , 115. , 243. ]])

In [19]:
d1=pd.DataFrame(arr1,columns=['duration','pulse','max_pulse','calorie'])
d1

    duration  pulse  max_pulse  calorie
0       60.0  110.0      130.0    409.1
1       60.0  117.0      145.0    479.0
2       60.0  103.0      135.0    340.0
3       45.0  109.0      175.0    282.4
4       45.0  117.0      148.0    406.0
5       60.0  102.0      127.0    300.0
6       60.0  110.0      136.0    374.0
7      450.0  104.0      134.0    253.3
8       30.0  109.0      133.0    195.1
9       60.0   98.0      124.0    269.0
10      60.0  103.0      147.0    329.3
11      60.0  100.0      120.0    250.7
12      60.0  100.0      120.0    250.7
13      60.0  104.0      132.0    379.3
14      60.0   98.0      123.0    275.0
15      60.0   98.0      120.0    215.2
16      60.0  100.0      120.0    300.0
17      60.0  103.0      123.0    323.0
18      45.0   97.0      125.0    243.0
19      60.0  108.0      131.0    364.2
20      60.0  130.0      101.0    300.0
21      45.0  105.0      132.0    246.0
22      60.0  102.0      126.0    334.5
23      60.0  100.0      120.0    250.0
24      60.0   92.0      118.0    241.0
25      60.0  100.0      132.0    280.0
26      60.0  102.0      129.0    380.3
27      60.0   92.0      115.0    243.0

In [20]:
d1=pd.DataFrame(arr1,columns=a)

In [21]:
d1

    Duration  Pulse  Maxpulse  Calories
0       60.0  110.0     130.0     409.1
1       60.0  117.0     145.0     479.0
2       60.0  103.0     135.0     340.0
3       45.0  109.0     175.0     282.4
4       45.0  117.0     148.0     406.0
5       60.0  102.0     127.0     300.0
6       60.0  110.0     136.0     374.0
7      450.0  104.0     134.0     253.3
8       30.0  109.0     133.0     195.1
9       60.0   98.0     124.0     269.0
10      60.0  103.0     147.0     329.3
11      60.0  100.0     120.0     250.7
12      60.0  100.0     120.0     250.7
13      60.0  104.0     132.0     379.3
14      60.0   98.0     123.0     275.0
15      60.0   98.0     120.0     215.2
16      60.0  100.0     120.0     300.0
17      60.0  103.0     123.0     323.0
18      45.0   97.0     125.0     243.0
19      60.0  108.0     131.0     364.2
20      60.0  130.0     101.0     300.0
21      45.0  105.0     132.0     246.0
22      60.0  102.0     126.0     334.5
23      60.0  100.0     120.0     250.0
24      60.0   92.0     118.0     241.0
25      60.0  100.0     132.0     280.0
26      60.0  102.0     129.0     380.3
27      60.0   92.0     115.0     243.0

In [23]:
df.iloc[1,2]

117.0

In [24]:
df.iloc[:,2]

0     110.0
1     117.0
2     103.0
3     109.0
4     117.0
5     102.0
6     110.0
7     104.0
8     109.0
9      98.0
10    103.0
11    100.0
12    100.0
13      NaN
14    104.0
15     98.0
16     98.0
17    100.0
18     90.0
19    103.0
20     97.0
21    108.0
22    100.0
23    130.0
24    105.0
25    102.0
26    100.0
27     92.0
28    103.0
29    100.0
30    102.0
31     92.0
Name: Pulse, dtype: float64

In [25]:
df.iloc[1:45:2,2]

1     117.0
3     109.0
5     102.0
7     104.0
9      98.0
11    100.0
13      NaN
15     98.0
17    100.0
19    103.0
21    108.0
23    130.0
25    102.0
27     92.0
29    100.0
31     92.0
Name: Pulse, dtype: float64

In [26]:
df.iloc[:,-1]

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [27]:
x=df.drop('Calories',axis=1)
x.head()

   Duration          Date  Pulse  Maxpulse
0        60  '2020/12/01'  110.0       130
1        60  '2020/12/02'  117.0       145
2        60  '2020/12/03'  103.0       135
3        45  '2020/12/04'  109.0       175
4        45  '2020/12/05'  117.0       148

In [31]:
y=df['Calories']

In [32]:
y

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [33]:
y=df.Calories

In [34]:
y

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [35]:
y=df.iloc[:,-1]

In [36]:
y

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [38]:
df.loc[:,['Calories']]

    Calories
0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
5      300.0
6      374.0
7      253.3
8      195.1
9      269.0
10     329.3
11     250.7
12     250.7
13     345.3
14     379.3
15     275.0
16     215.2
17     300.0
18       NaN
19     323.0
20     243.0
21     364.2
22     282.0
23     300.0
24     246.0
25     334.5
26     250.0
27     241.0
28       NaN
29     280.0
30     380.3
31     243.0

In [40]:
df_60=df[df['Duration']==60]
df_60

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'    NaN       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
19        60  '2020/12/19'  103.0       123     323.0
21        60  '2020/12/21'  108.0       131     364.2
23        60  '2020/12/23'  130.0       101     300.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0